html, body {
     padding: 0;
     margin: 0;
     width: 100%;
     overflow-x: hidden;
     font-size: 16px;
     color: #fafafa;
     scroll-behavior: smooth;
}

#home {
    height: 100vh;
    background: url(../images/stock.jpeg);
    background-size: cover;
}

#stocks {
    height: 100vh;
    background-color: aquamarine;
}

#forex {
    height: 100vh;
    background-color: burlywood;
}

#crypto {
    height: 100vh;
    background-color: coral;
}

#contact {
    height: 100vh;
    background-color: darkorchid;
}

/************ NAVBAR */

.navbar {
    background-color: rgba(0, 0, 0, 0.75);
}

.navbar--logo {
    font-size: 1.6rem !important;
}

.navbar li {
    margin: 0 1rem 0 0.2rem;
}

.nav-link:hover,
.nav-link:active {
    color: #5086fc !important;
}

.navbar a {
    color: #fafafa !important;
}

.dropdown-menu a {
    color: #242424 !important;
}


/************ FOOTER */

.footer--container {
    padding: 0.6rem;
    background-color: #242424;
}

.footer--list {
    margin: 1rem 0;
}

.footer--header {
    font-size: 1.1rem;
    font-weight: bold;
}

.footer--sub,
.footer--icon,
.footer--link {
    color: #8d8d8d;
    margin-top: 0.4rem;
}

.footer--icon {
    font-size: 1.6rem;
    margin-right: 0.8rem;
}

.footer--list li a {
    text-decoration: none;
}

.footer--icon:hover,
.footer--icon:active,
.footer--list li a:hover,
.footer--list li a:active {
    color:#d6d4d4;
}


/************ MEDIA QUERIES */

@media screen and (min-width: 768px) {
  .footer--list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 992px) {
  html, body {
      font-size: 18px;
  }
}