html, body {
     padding: 0;
     margin: 0;
     width: 100%;
     overflow-x: hidden;
     font-size: 16px;
     color: #fafafa;
     scroll-behavior: smooth;
     font-family: 'Cabin', sans-serif;
}

#home {
    height: 100vh;
    background: url(../images/stock.jpeg);
    background-size: cover;
}

#stocks, #forex, #crypto {
    height: 100vh;
    margin-top: 1rem;
    background-color: #fafafa;
    color: #000;
}

#contact {
    height: 100vh;
    background-color: darkorchid;
}

/************ NAVBAR */

.navbar {
    background-color: rgba(0, 0, 0, 0.75);
}

.navbar--logo {
    font-size: 1.6rem !important;
}

.navbar li {
    margin: 0 1rem 0 0.2rem;
}

.nav-link:hover,
.nav-link:active {
    color: #5086fc !important;
}

.navbar a {
    color: #fafafa !important;
}

.dropdown-menu a {
    color: #242424 !important;
}

/************ FOOTER */

.footer--container {
    padding: 0.6rem;
    background-color: #242424;
}

.footer--list {
    margin: 1rem 0;
}

.footer--header {
    font-size: 1.1rem;
    font-weight: bold;
}

.footer--sub,
.footer--icon,
.footer--link {
    color: #8d8d8d;
    margin-top: 0.4rem;
}

.footer--icon {
    font-size: 1.6rem;
    margin-right: 0.8rem;
}

.footer--list li a {
    text-decoration: none;
}

.footer--icon:hover,
.footer--icon:active,
.footer--list li a:hover,
.footer--list li a:active {
    color:#d6d4d4;
}

/************ CHARTS */

.h--rule {
     width: 4rem;
     height: 0.05rem;
     background-color: #d6d4d4;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 50vh;
  width: 80vw;
}

.search-bar {
    margin-bottom: 2rem;
}

.interval-buttons input {
    margin: 2rem 0 0 1.6rem;
}

.interval-buttons label {
    font-size: 0.8rem;
}

/************ HOME PAGE  */

.opaque-overlay {
    /* Credit to Code Institute whiskey drop walkthrough project */
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.home-container {
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
}
.btn {
    width: 10rem;
    margin: 1rem;
    border-radius: 1rem;
}

.btn--go {
    background-color: #286cfd;
    border: 1px solid #286cfd;
}

.btn--contact {
    background-color: #fafafa;
    border: 1px solid #286cfd;
}

.btn:hover,
.btn:active {
    background-color: #5086fc;
}

.home-stock {
    /* background-color: rgba(0, 0, 0, 0.3); */
    border-radius: 1rem;   
}

.table {
    border-radius: 0.6rem;
}

/************ MEDIA QUERIES */

@media screen and (min-width: 768px) {
  .footer--list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 992px) {
  html, body {
      font-size: 18px;
  }
}